@charset "utf-8";

/*コメントを書く
-------------------------------------------------------------------------------------------------------------------------------------- */

body {
    margin-top: 50px;
    margin-left: 100px;
    background-image: url(../images/mizutama2.png);
}
