@charset "utf-8";

/*コメントを書く
-------------------------------------------------------------------------------------------------------------------------------------- */

body {
    margin-top: 50px;
    margin-left: 100px;
    background-image: url(../images/image5e97.jpeg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center top;
}
