/* リセットCSSとは、「Google Chrome」「Safari」「Microsoft Edge」など異なるブラウザでも
   同じ見た目になるように調整するCSSのことです。
   プラス、デザインがしやすいように基本的なCSSを決めておくものです。
*/

@charset "utf-8";

/*
Dashboard 
    1. 全体
    2. ロゴ画像
    3.「NEW」アイコン
    4.
	5.
	6.
	7.
	8.
	9.
	10.

---------------------------------------------------------------------------- */

/* 1. 全体
---------------------------------------------------------------------------- */
/* すべてのタグの上下左右の余白（margin）と内側のスペース（padding）の余白をなくす */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ボックスサイズの幅や高さの計算方法を「枠線込みのサイズ」にする */ 
*::before, *::after {box-sizing: inherit;}

/* リストタグ（<ol>や<ul>）の●や数字を表示しないようにする */
ol, ul {list-style: none;}

/* リンクの下線をなくして、色も親の要素に合わせる */
a {
    text-decoration: none;
    color: inherit;
}

img {
    display: inline;  /* 画像の下の隙間はある。隙間をなくすには（block）にする */
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: none;
	
}

html, body {
    height: 100%;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;  /* フォント種類 */
    background: #fff;  /* 背景色 */
    color: #222;       /* 全体の文字色 */
    font-size: 16px;	 /* 文字サイズ */
	line-height: 2;		 /* 行間 */
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

iframe {width: 100%;}

video,audio {max-width: 100%;}

/* 2. ロゴ画像
---------------------------------------------------------------------------- */
header #logo {
	width: 350px;		/*ロゴ画像の幅*/
	position: absolute;
	right: 2%;		/*headerのinnerに対しての右からの配置指定*/
	bottom: 40px;	/*headerのinnerに対しての下からの配置指定*/
}

/* 3.「NEW」アイコン
---------------------------------------------------------------------------- */
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/* 4.
---------------------------------------------------------------------------- */


/* 5.
---------------------------------------------------------------------------- */


/* 6.
---------------------------------------------------------------------------- */
